body {
  background-image: url(https://64.media.tumblr.com/c80138c025e0b0b56b1521147804c051/tumblr_plkv81xaxe1xqepp2o1_640.gifv);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h2 {
  color: red;
  font-family: fantasy;
  font-size: 30px;
  margin-left: 15px;
}
.game-title {
  text-shadow: 2px 2px darkred;
  text-decoration: gainsboro;
  margin-left: 18px;
  font-size: 50px;
  font-family: fantasy;
  color: red;
}
section {
  text-align: center;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}

.boxes {
  box-shadow: 2px 2px goldenrod;
  text-shadow: 2px 2px darkred;
  font-family: cursive;
  font-weight: bolder;
  color: red;
  width: 100px;
  height: 100px;
  border: 5px solid burlywood;
  border-style: groove;
  line-height: 100px;
  font-size: 60px;
  font-weight: bold;
  margin: 2px;
}
button {
  font-family: fantasy;
  margin-bottom: 30px;
  width: 100px;
  height: 30px;
  margin-left: 36px;
  border: 2px solid black;
  border-style: groove;
  background: burlywood;
  font-size: large;
  color: darkred;
}
